<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="file" xsi:type="File" layout="${longdate} ${logger} ${message}" fileName="${basedir}/logs/${longdate}log.log"
                archiveFileName="${basedir}/logs/archives/log.{#}.txt" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7"
                concurrentWrites="true" keepFileOpen="false" encoding="iso-8859-2" />
    <target name="console" xsi:type="ColoredConsole">
      <highlight-row backgroundColor="NoChange" condition="(level == LogLevel.Info)" foregroundColor="Green"/>
      <highlight-row backgroundColor="NoChange" condition="(level == LogLevel.Warn)" foregroundColor="Yellow"/>
      <highlight-row backgroundColor="NoChange" condition="(level == LogLevel.Error)" foregroundColor="Red"/>
      <highlight-row backgroundColor="NoChange" condition="(level == LogLevel.Trace)" foregroundColor="Gray"/>
    </target>	
	
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file,console" />
    <logger name="*" minlevel="Info" writeTo="console,file" />
  </rules>
</nlog>
